body {
  /* background-color: #1224B0; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #97c2ae;
}

img {
  max-width: 100%;
}

.logo-container {
  text-align: center;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#email {
  padding: 20px;
  margin: 20px;

}

#signUp {
  padding: 20px;
  margin: 20px;
}

#logIn {
  padding: 20px;
  margin: 20px;
}
