body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: verdana, sans-serif;
  background-color: #97c2ae;
}

header {
  width: 100%;
  padding: 50px;
  color: #c15827;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: arial, sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  padding: 20px;
  margin: 0 100px 0 100px;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  color: #c15827;
}

#imageContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#profilePicture{
  width: 100px;
  height: 100px;
}

img {
  border: none;
  border-radius: 15%;
  margin-top: 5%;
  margin-bottom: 0;
  box-shadow: 0px 10px 30px #393985;
}

.signupForm{
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.username {
  width: 60%;
  height: 50px;
  border: none;
  align-self: center;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #46B882;
  box-shadow: 0px 10px 15px #393985;
}

#userNameLabel {
  align-self: center;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  text-align: center;
  color: #c15827;
}

.email {
  width: 60%;
  margin-top: 10px;
  height: 50px;
  border: none;
  align-self: center;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  text-align: center;
  color: #46B882;
  box-shadow: 0px 10px 15px #393985;
}

#emailLabel {
  align-self: center;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  margin-top: 30px;
  text-align: center;
  color: #c15827;
}

.password {
  width: 60%;
  margin-top: 10px;
  height: 50px;
  border: none;
  align-self: center;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  text-align: center;
  color: #46B882;
  box-shadow: 0px 10px 15px #393985;
}

#passWordLabel {
  align-self: center;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  color: #c15827;
}

button {
  width: 50%;
  height: 60px;
  border: none;
  align-self: center;
  background-color: #F58994;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
  margin-top: 40px;
  color: white;
  box-shadow: 0px 10px 15px #393985;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #c15827;
  font-size: 25px;
}

p {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #ED5555;
}

.posts {
  height: 200px;
  width: 100%;
  overflow-x: scroll;
  background-color: white;
}
